/* runlog/static/css/custom.css */

body {
    background-color: lightblue !important;
}

.container {
    max-width: 100% !important;
    margin-right: auto;
    margin-left: 10px !important;
    padding-right: 15px;
    padding-left: 15px;
}

td[style*="max-width"] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ---- Opravy pro tabulku ---- */

/* Zajistí, že se nadpisy zarovnají svisle na střed (přepisuje výchozí styl) */
.table-responsive thead th {
    vertical-align: middle !important;
}

/* Toto pravidlo s !important vynutí šířku sloupce a přebije všechny ostatní styly. */
.table th {
    width: auto !important;
}

/* Zajišťuje, že se hlavička tabulky "přilepí" a bude neustále viditelná */
.table-responsive thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #f8f9fa; /* Toto zajistí, že pod hlavičkou nebude vidět obsah */
}